In [5]:
import pandas as pd

df2 = pd.read_csv('kddcup2.csv')
dense2 = pd.read_csv('dense_output1.csv')
print("Read {} rows.".format(len(df2)))
print("Read {} rows.".format(len(dense2)))

# df = df.sample(frac=0.1, replace=False) # Uncomment this line to sample only 10% of the dataset

df2.dropna(inplace=True,axis=1) # For now, just drop NA's (rows with missing values)
dense2.dropna(inplace=True,axis=1) # For now, just drop NA's (rows with missing values)

# The CSV file has no column heads, so add them
df2.columns = [
    'num_failed_logins',
    'logged_in',
    'num_compromised',
    'root_shell',
    'su_attempted',
    'num_root',
    'num_file_creations',
    'num_shells',
    'num_access_files',
    'num_outbound_cmds',
    'outcome'
]

# display 5 rows
df2[0:5]

Read 494020 rows.
Read 494020 rows.

,num_failed_logins,logged_in,num_compromised,root_shell,su_attempted,num_root,num_file_creations,num_shells,num_access_files,num_outbound_cmds,outcome
0,0,1,0,0,0,0,0,0,0,0,normal
1,0,1,0,0,0,0,0,0,0,0,normal
2,0,1,0,0,0,0,0,0,0,0,normal
3,0,1,0,0,0,0,0,0,0,0,normal
4,0,1,0,0,0,0,0,0,0,0,normal

In [6]:
dense2[0:5]

,output_neuron_1,output_neuron_2,output_neuron_3,output_neuron_4,output_neuron_5,output_neuron_6,output_neuron_7,output_neuron_8,output_neuron_9,output_neuron_10,...,output_neuron_80,output_neuron_81,output_neuron_82,output_neuron_83,output_neuron_84,output_neuron_85,output_neuron_86,output_neuron_87,output_neuron_88,output_neuron_89
0,-0.067792,-0.002879,0.138664,-0.04772,-0.002571,-0.044136,-0.249464,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,-0.067792,-0.002820,-0.011578,-0.04772,-0.002571,-0.044136,-0.249464,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,-0.067792,-0.002824,0.014179,-0.04772,-0.002571,-0.044136,-0.249464,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,-0.067792,-0.002840,0.014179,-0.04772,-0.002571,-0.044136,-0.249464,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,-0.067792,-0.002842,0.035214,-0.04772,-0.002571,-0.044136,-0.249464,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [7]:
# Encode a numeric column as zscores
def encode_numeric_zscore(df, name, mean=None, sd=None):
    if mean is None:
        mean = df[name].mean()

    if sd is None:
        sd = df[name].std()

    df[name] = (df[name] - mean) / sd

    
# Encode text values to dummy variables(i.e. [1,0,0],[0,1,0],[0,0,1] for red,green,blue)
def encode_text_dummy(df, name):
    dummies = pd.get_dummies(df[name])
    for x in dummies.columns:
        dummy_name = f"{name}-{x}"
        df[dummy_name] = dummies[x]
    df.drop(name, axis=1, inplace=True)

In [8]:
encode_numeric_zscore(df2, 'num_failed_logins')
encode_numeric_zscore(df2, 'logged_in')
encode_numeric_zscore(df2, 'num_compromised')
encode_numeric_zscore(df2, 'root_shell')
encode_numeric_zscore(df2, 'su_attempted')
encode_numeric_zscore(df2, 'num_root')
encode_numeric_zscore(df2, 'num_file_creations')
encode_numeric_zscore(df2, 'num_shells')
encode_numeric_zscore(df2, 'num_access_files')
encode_numeric_zscore(df2, 'num_outbound_cmds')

In [9]:
df2[0:5]

,num_failed_logins,logged_in,num_compromised,root_shell,su_attempted,num_root,num_file_creations,num_shells,num_access_files,num_outbound_cmds,outcome
0,-0.009782,2.396994,-0.005679,-0.010552,-0.004676,-0.00564,-0.011232,-0.009919,-0.027632,NaN,normal
1,-0.009782,2.396994,-0.005679,-0.010552,-0.004676,-0.00564,-0.011232,-0.009919,-0.027632,NaN,normal
2,-0.009782,2.396994,-0.005679,-0.010552,-0.004676,-0.00564,-0.011232,-0.009919,-0.027632,NaN,normal
3,-0.009782,2.396994,-0.005679,-0.010552,-0.004676,-0.00564,-0.011232,-0.009919,-0.027632,NaN,normal
4,-0.009782,2.396994,-0.005679,-0.010552,-0.004676,-0.00564,-0.011232,-0.009919,-0.027632,NaN,normal

In [10]:
merged_df2 = pd.concat([dense2, df2], axis=1)

In [11]:
merged_df2[0:5]

,output_neuron_1,output_neuron_2,output_neuron_3,output_neuron_4,output_neuron_5,output_neuron_6,output_neuron_7,output_neuron_8,output_neuron_9,output_neuron_10,...,logged_in,num_compromised,root_shell,su_attempted,num_root,num_file_creations,num_shells,num_access_files,num_outbound_cmds,outcome
0,-0.067792,-0.002879,0.138664,-0.04772,-0.002571,-0.044136,-0.249464,0.0,1.0,0.0,...,2.396994,-0.005679,-0.010552,-0.004676,-0.00564,-0.011232,-0.009919,-0.027632,NaN,normal
1,-0.067792,-0.002820,-0.011578,-0.04772,-0.002571,-0.044136,-0.249464,0.0,1.0,0.0,...,2.396994,-0.005679,-0.010552,-0.004676,-0.00564,-0.011232,-0.009919,-0.027632,NaN,normal
2,-0.067792,-0.002824,0.014179,-0.04772,-0.002571,-0.044136,-0.249464,0.0,1.0,0.0,...,2.396994,-0.005679,-0.010552,-0.004676,-0.00564,-0.011232,-0.009919,-0.027632,NaN,normal
3,-0.067792,-0.002840,0.014179,-0.04772,-0.002571,-0.044136,-0.249464,0.0,1.0,0.0,...,2.396994,-0.005679,-0.010552,-0.004676,-0.00564,-0.011232,-0.009919,-0.027632,NaN,normal
4,-0.067792,-0.002842,0.035214,-0.04772,-0.002571,-0.044136,-0.249464,0.0,1.0,0.0,...,2.396994,-0.005679,-0.010552,-0.004676,-0.00564,-0.011232,-0.009919,-0.027632,NaN,normal

In [12]:
merged_df2.dropna(inplace=True,axis=1) # For now, just drop NA's (rows with missing values)

In [13]:
merged_df2[0:5]

,output_neuron_1,output_neuron_2,output_neuron_3,output_neuron_4,output_neuron_5,output_neuron_6,output_neuron_7,output_neuron_8,output_neuron_9,output_neuron_10,...,num_failed_logins,logged_in,num_compromised,root_shell,su_attempted,num_root,num_file_creations,num_shells,num_access_files,outcome
0,-0.067792,-0.002879,0.138664,-0.04772,-0.002571,-0.044136,-0.249464,0.0,1.0,0.0,...,-0.009782,2.396994,-0.005679,-0.010552,-0.004676,-0.00564,-0.011232,-0.009919,-0.027632,normal
1,-0.067792,-0.002820,-0.011578,-0.04772,-0.002571,-0.044136,-0.249464,0.0,1.0,0.0,...,-0.009782,2.396994,-0.005679,-0.010552,-0.004676,-0.00564,-0.011232,-0.009919,-0.027632,normal
2,-0.067792,-0.002824,0.014179,-0.04772,-0.002571,-0.044136,-0.249464,0.0,1.0,0.0,...,-0.009782,2.396994,-0.005679,-0.010552,-0.004676,-0.00564,-0.011232,-0.009919,-0.027632,normal
3,-0.067792,-0.002840,0.014179,-0.04772,-0.002571,-0.044136,-0.249464,0.0,1.0,0.0,...,-0.009782,2.396994,-0.005679,-0.010552,-0.004676,-0.00564,-0.011232,-0.009919,-0.027632,normal
4,-0.067792,-0.002842,0.035214,-0.04772,-0.002571,-0.044136,-0.249464,0.0,1.0,0.0,...,-0.009782,2.396994,-0.005679,-0.010552,-0.004676,-0.00564,-0.011232,-0.009919,-0.027632,normal

In [17]:
# Convert to numpy - Classification
x_columns2 = merged_df2.columns.drop('outcome')
x2 = merged_df2[x_columns2].values
dummies2 = pd.get_dummies(merged_df2['outcome']) # Classification
outcomes2 = dummies2.columns
num_classes2 = len(outcomes2)
y2 = dummies2.values

In [18]:
merged_df2.groupby('outcome')['outcome'].count()

outcome
back                 2203
buffer_overflow        30
ftp_write               8
guess_passwd           53
imap                   12
ipsweep              1247
land                   21
loadmodule              9
multihop                7
neptune            107201
nmap                  231
normal              97277
perl                    3
phf                     4
pod                   264
portsweep            1040
rootkit                10
satan                1589
smurf              280790
spy                     2
teardrop              979
warezclient          1020
warezmaster            20
Name: outcome, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

from sklearn import metrics
from IPython.display import display, HTML 
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation


x2_train, x2_test, y2_train, y2_test = train_test_split(
    x2, y2, test_size=0.25, random_state=42)

model = Sequential()
model.add(Dense(25, input_dim=x2.shape[1], activation='relu'))
model.add(Dense(3, activation='relu'))
model.add(Dense(25, activation='relu'))
model.add(Dense(x2.shape[1])) # Multiple output neurons
model.compile(loss='mean_squared_error', optimizer='adam')


# Convert the output into a Pandas dataframe
pd2 = pd.DataFrame(x2, columns=['output_neuron_{}'.format(i+1) for i in range(x2.shape[1])])

# Save the output to a CSV file
pd2.to_csv('dense_output2.csv', index=False)

2023-04-16 11:00:36.052024: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-04-16 11:00:38.644122: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [21]:
from tensorflow.keras.callbacks import EarlyStopping

model = Sequential()
model.add(Dense(10, input_dim=x2.shape[1], kernel_initializer='normal', activation='relu'))
model.add(Dense(50, input_dim=x2.shape[1], kernel_initializer='normal', activation='relu'))
model.add(Dense(10, input_dim=x2.shape[1], kernel_initializer='normal', activation='relu'))
model.add(Dense(1, kernel_initializer='normal'))
model.add(Dense(y2.shape[1],activation='softmax'))
model.compile(loss='categorical_crossentropy', optimizer='adam')
monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3, patience=5, verbose=1, mode='auto')
model.fit(x2_train,y2_train,validation_data=(x2_test,y2_test),callbacks=[monitor],verbose=2,epochs=1000)

Epoch 1/1000
11579/11579 - 9s - loss: 0.1613 - val_loss: 0.0779 - 9s/epoch - 766us/step
Epoch 2/1000
11579/11579 - 8s - loss: 0.0744 - val_loss: 0.0727 - 8s/epoch - 733us/step
Epoch 3/1000
11579/11579 - 8s - loss: 0.0699 - val_loss: 0.0690 - 8s/epoch - 723us/step
Epoch 4/1000
11579/11579 - 9s - loss: 0.0722 - val_loss: 0.0692 - 9s/epoch - 784us/step
Epoch 5/1000
11579/11579 - 8s - loss: 0.0694 - val_loss: 0.0686 - 8s/epoch - 731us/step
Epoch 6/1000
11579/11579 - 9s - loss: 0.0678 - val_loss: 0.0686 - 9s/epoch - 737us/step
Epoch 7/1000
11579/11579 - 8s - loss: 0.0671 - val_loss: 0.0676 - 8s/epoch - 731us/step
Epoch 8/1000
11579/11579 - 9s - loss: 0.0668 - val_loss: 0.0676 - 9s/epoch - 738us/step
Epoch 9/1000
11579/11579 - 8s - loss: 0.0680 - val_loss: 0.0702 - 8s/epoch - 729us/step
Epoch 10/1000
11579/11579 - 9s - loss: 0.0667 - val_loss: 0.0677 - 9s/epoch - 738us/step
Epoch 11/1000
11579/11579 - 9s - loss: 0.0662 - val_loss: 0.0679 - 9s/epoch - 737us/step
Epoch 12/1000
11579/11579 - 9s - loss: 0.0660 - val_loss: 0.0688 - 9s/epoch - 777us/step
Epoch 12: early stopping

In [23]:
import numpy as np

# Measure accuracy
pred = model.predict(x5_test)
pred = np.argmax(pred,axis=1)
y_eval = np.argmax(y5_test,axis=1)
score = metrics.accuracy_score(y_eval, pred)
print("Validation score: {}".format(score))

3860/3860 [==============================] - 2s 476us/step
Validation score: 0.9855795311930691